/* Add these styles to your CSS file */

/* .inventory { */
    /* Add any additional styling for the container */
  
  
  /* .header { */
    /* Add any styling for the header */
  
  
  /* .logo { */
    /* Add any styling for the logo */
  
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-link {
    text-decoration: none;
  }
  
  .inventory-button.card {
    width: 200px; /* Set the initial width of the card */
    height: 150px; /* Set the initial height of the card */
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions for smooth animations */
    background-color: #19874D; /* Set the background color of the buttons */
    color: #ffffff; /* Set the text color to white */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for a floating effect */
  }
  
  .inventory-button.card:hover {
    background-color: #146b3a; /* Change the background color on hover */
    transform: translateY(-2px); /* Move the button slightly up on hover for a floating effect */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Increase the box shadow on hover */
  }
  