/* Add these styles to your CSS file */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  thead {
    background-color: #19874D;
    color: #ffffff;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #19874D;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #146b3a;
  }
  
  /* Adjustments for small screens */
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    input {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }
  